
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/Mazaka Logo.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form #UserForm='ngForm'>
      <input type="text" minlength="5" id="UserName" #UserName="ngModel" required 
        [(ngModel)]="user.UserName" name="UserName"  class="fadeIn second"  placeholder="User Name">
        <div  *ngIf="UserName.invalid && validation">
          <div>
            Required.
          </div>
          <div>
          Minlength Five.
          </div>
        </div>

      <input type="text" minlength="6" required [(ngModel)]="user.Password" name="Password" 
        class="fadeIn third ps"   placeholder="Password" #Password="ngModel">
        <div  *ngIf="Password.invalid && validation">
          <div>
            Required.
          </div>
          <div>
          Minlength Six.
          </div>
        </div>

      <input type="text" minlength="6" required [(ngModel)]="user.ConfirmPassword" name="ConfirmPassword" 
      class="fadeIn third ps"  placeholder="Confirm Password" #ConfirmPassword="ngModel">
      <div  *ngIf="ConfirmPassword.invalid && validation">
        <div>
          Required.
        </div>
        <div>
        Minlength Six.
        </div>
      </div>

      <input type="text"   required [(ngModel)]="user.NameSurName" name="NameSurName"
        class="fadeIn third" #Name="ngModel"  placeholder="Name Surname">
        <div *ngIf="Name.invalid && validation"> 
          Required
        </div>

      <input type="text" required [(ngModel)]="user.Email" name="Email" class="fadeIn third" 
        placeholder="Email"  #Email="ngModel">
        <div *ngIf="Email.invalid && validation">
          Required
        </div>

      <input type="submit"  required class="fadeIn fourth" (click)="Register(UserForm)" 
        value="Sign Up">
    </form>
    <div *ngFor="let response of userResponse.erorrs" style="color: red;">{{response}}</div>
    <div style="color: red;">{{userResponse.message}}</div>
  </div>
</div>

