
<div style="margin-top: 10%;" class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/Mazaka Logo.png" id="icon" alt="User Icon" />
      <div>
        We Always Solve Problem 
      </div>
    </div>

    <!-- Login Form -->
    <form #TaskForm='ngForm'>
    <div>
      <input type="text" #title="ngModel" required 
        [(ngModel)]="task.title" name="title"  class="fadeIn second"  placeholder="Title">
        <div  *ngIf="title.invalid && validation">
          <div>
            Required.
          </div>
        </div>
    </div>

      <div>
        <input type="text" required [(ngModel)]="task.content" name="content" 
          class="fadeIn third"   placeholder="Description" #content="ngModel">
        <div  *ngIf="content.invalid && validation">
          <div>
            Required.
          </div>
        </div>
      </div>

      <div class="form-group" > <!--Brand-->
        <div>
         Select  an user
        </div>
        <select style="width: 85%;"    #assignee="ngModel"
          name="assignee" required [(ngModel)]="task.assignee" >
            <option *ngFor="let user of users" [ngValue]="user.assignee">{{user.nameSurName}}</option>
        </select>
        <div *ngIf="assignee.invalid && validation" >Required</div>
      </div><!--Brand-->

    <div>
      <input type="date"  style="width: 200px; height: 50px;"  required
        [(ngModel)]="task.due_date" name="due_date" 
        class="fadeIn third "  placeholder="Confirm Password" #due_date="ngModel">
      <div  *ngIf="due_date.invalid && validation">
        <div>
          Required.
        </div>
      </div>
    </div>

    <div>
      <input type="submit"  required class="fadeIn fourth" (click)="Add(TaskForm)" 
      value="Add A Task">
    </div>

    </form>
  </div>
</div>